{% extends 'base.html' %}

{% block title %} Error 400 {% endblock %}

{% block content%}


<div class="formulario2" style="margin-top:20%;">
    <div class="row">
        <div class="col-xs-5">
                <img src="/static/warning.png" alt="" style="padding: 5px">
        </div>

        <div class="col-xs-5">
                <br>
                <span style="padding: 5px"><b>Error 400 (Bad request)</b></span>
                <br>
                <span style="padding: 5px">Este erro foi causado por algum campo deixado em branco!</span>
        </div>
    </div>
    
    
    
    
    
    
</div>

{% endblock %}